# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.c lf      filter=tabspace
*.cc lf     filter=tabspace
*.h lf      filter=tabspace
*.hpp lf    filter=tabspace
*.cpp lf    filter=tabspace
*.hxx lf    filter=tabspace
*.cxx lf    filter=tabspace
*.asm lf    filter=tabspace

*.conf lf    filter=tabspace

#*.c    filter=tabspace
#*.cc   filter=tabspace
#*.h    filter=tabspace
#*.hpp  filter=tabspace
#*.cpp  filter=tabspace
#*.hxx  filter=tabspace
#*.cxx  filter=tabspace
#*.asm  filter=tabspace

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.txt text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
