[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	editor = vim
	excludesfile = /home/jiayuehua/.gitignore
  ;packedGitLimit = 512m
  packedGitLimit = 1024m
  packedGitWindowSize = 1024m
  ;packedGitWindowSize = 512m
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
  fetch = +refs/notes/review:refs/notes/review
	url = ssh://jiayuehua@git.homepage.com:29418/project
[remote "review"]
  url = ssh://jiayuehua@git.homepage.com:29418/project
  push = refs/heads/master:refs/for/master
[remote "ort_review_r1d"]
  url = ssh://jiayuehua@git.homepage.com:29418/project
  push = HEAD:refs/for/feature-miwifi2.0 
[remote "ort_review_r1c"]
  url = ssh://jiayuehua@git.homepage.com:29418/project
  push = HEAD:refs/for/R1CM-0.7.94
[branch "master"]
	remote = origin
	merge = refs/heads/master
[user]
	name = jiayuehua
	email = jiayuehua@homepage.com
[credential]
	helper = cache --timeout 3600
[diff]
	tool = diff
;[difftool "vimdiff"]
    ;tool = vimdiff
[difftool "kdiff3"]
    tool = kdiff3
[color]
	diff = auto
	status = auto
	branch = auto
[commit]
	template = /home/jiayuehua/.project.template
[pack]
    threads = 8
    deltaCacheSize = 512m
    packSizeLimit = 512m
    windowMemory = 1024m
[merge]
  ;tool = vimdiff
	tool = kdiff3
[mergetool]
	prompt = false
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
[format]
  pretty = format:%C(auto) %C(yellow)%h%Creset %C(green)(%ad)%Creset   %C(yellow)%an%Creset  %s
  ;pretty = format:%h %ad %an %s
[log]
	date = local
[clean]
	requireForce = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
[branch "miwifi2.0"]
	remote = origin
	merge = refs/heads/feature-miwifi2.0
[branch "xiaoqiang72"]
	remote = origin
	merge = refs/heads/project-0.1.72
[branch "project-0.9.79"]
	remote = origin
	merge = refs/heads/project-0.9.79
