[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	editor = vim
	;editor = \"C:/Program Files/GitExtensions/GitExtensions.exe\" fileeditor
	excludesfile = ~/.gitignore
  packedGitLimit = 512m
  packedGitWindowSize = 512m
  ;autocrlf = true  ;;windows
	autocrlf = input  ;;linux
	safecrlf = warn
[user]
	name = jiayuehua
	email = gracedancer@163.com
[merge]
	tool = kdiff3
  ;tool = vimdiff
;[mergetool "kdiff3"]
	;path = /usr/bin/kdiff3
;diffmerge
;[diff]
	;tool = diffmerge
;[difftool "diffmerge"]
	;cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
;[merge]
	;tool = diffmerge
;[mergetool "diffmerge"]
	;cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	;trustExitCode = true
[mergetool]
	prompt = false
  ;tool = kdiff3 
[color]
	diff = auto
	status = auto
	branch = auto
[credential]
	;helper = !\\\"C:/Program Files/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\\\"
  ;helper = cache --timeout 3600 
	helper = store
;[pack]
    ;threads = 1
    ;deltaCacheSize = 512m
    ;packSizeLimit = 512m
    ;windowMemory = 1024m
[format]
  pretty = format:%C(auto) %C(yellow)%h%Creset %C(green)(%ad)%Creset %C(yellow)%an%Creset  %s
  ;pretty = format:%h %ad %an %s
[log]
	date = local
[clean]
	requireForce = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
[diff]
	tool = diff
[difftool "vimdiff"]
    tool = vimdiff
;[difftool "kdiff3"]
    ;tool = kdiff3
[merge]
	tool = vimdiff
	;tool = kdiff3
;[mergetool "kdiff3"]
	;path = /usr/bin/kdiff3
[mergetool]
	tool = vimdiff
	prompt = false
;diffmerge
;[diff]
	;tool = diffmerge
;[difftool "diffmerge"]
	;cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
;[merge]
	;tool = diffmerge
;[mergetool "diffmerge"]
	;cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	;trustExitCode = true
